*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: figtree-normal, sans-serif;
}

.layout {
  min-height: 100vh;
  display: flex;
  height: 100%;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid $layout-border-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
  font-family: poppins-bold, sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-family: poppins-normal, sans-serif;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

p {
  font-size: 16px;
  margin: 0;
}

span {
  color: $secondary-text-color;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

button {
  font-family: inherit;
  cursor: pointer;
  font-family: figtree-normal, sans-serif !important;
  font-size: 14px !important;
}

input {
  font-family: inherit;
  text-align: inherit;
}

a {
  font-size: 14px;
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}
