    .container-transition-enter {
      transform: translateY(-10%);
      opacity: 0;
    }
    
    .container-transition-enter-active {
      transform: translateY(0);
      opacity: 1;
      transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
    }
    
    .container-transition-exit {
      transform: translateY(0);
      opacity: 1;
    }
    
    .container-transition-exit-active {
      transform: translateY(-10%);
      opacity: 0;
      transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
    }


    .container-inside-transition-enter {
      opacity: 0;
      transform: scale(0.8);
    }
    
    .container-inside-transition-enter-active {
      opacity: 1;
      transform: scale(1);
      transition: opacity 150ms, transform 150ms;
    }
    
    .container-inside-transition-exit {
      opacity: 1;
      transform: scale(1);
    }
    
    .container-inside-transition-exit-active {
      opacity: 0;
      transform: scale(0.8);
      transition: opacity 150ms, transform 150ms;
    }


    // React Sort
    .drag-ghost {
      background: white !important;
      border-radius: 10px;
    }
    
    .custom-placeholder {
      border: 1px dashed $basic_blue;
      background-color: lightgray;
      opacity: 0.8;
      color: transparent;
    }
    
    .custom-dragged-element {
      background-color: #f0f0f0;
      box-shadow: 0 0 10px #ccc;
    }