.board-home {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar_gray);
    background-color: #a0a0a0;
  }
  width: 100%;
  overflow: auto;
  padding: 16px 38px 16px 38px;
  header {
    h2 {
      font-size: 24px;
      font-weight: 600;
      font-family: poppins-normal;
    }

    .board-tablist {
      .tabs-list {
        border-bottom: 1px solid $ui-border-color;
      }
      a {
        font-size: 14px;
        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
  nav {
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    gap: 5px;
    button {
      font-size: 14px;
      &.search-btn {
        svg {
          margin-right: 5px;
        }
      }
      &.secondary-btn {
        padding: 0;
        width: 90px !important;
        svg {
          color: $icon-color;
          margin-right: 3px !important;
        }
      }
    }
    .search-item-input {
      height: 32px !important;
      width: 200px !important;

    }
  }
  .items-action {
    position: fixed;
    bottom: 35px;
    left: 50%;
    transform: translateX(-25%);
    display: flex;
    z-index: 300;
    background-color: white;
    box-shadow: $box-shadow-medium;
    width: 800px;
    height: 65px;
    border-radius: 5px;
    margin: auto;
    .number-of-items {
      background-color: $primary-color;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      color: white;
      font-size: 30px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    h3 {
      margin: 5px 20px;
      font-size: 20px;
      flex-grow: 1;
    }
    .close {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0 22px;
      border-left: 2px solid $ui-border-color;
      &:hover {
        svg {
          color: $primary-color;
        }
      }
      svg {
        width: 18px;
        height: 18px;
      }
    }
    .actions {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      height: 100%;
      margin-right: 25px;
      .action {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3px;
        p {
        font-size: 14px;

        }
        cursor: pointer;
        &:hover {
          svg {
            color: $primary-color;
          }
        }
        svg {
          width: 25px;
          height: 25px;
          color: $primary-text-color;
        }
      }
    }
  }
}

