.workspace-nav {
  outline: 1px solid $layout-border-color;
  outline-offset: -2px;
  position: relative;
  width: 300px;

  background-color: $grey-background-color;
  padding: 12px 16px 18px 16px;
  transition: width 100ms ease;
  &.close {
    width: 35px;
    padding: 0;
  }
  .collapse-btn {
    position: absolute;
    right: -10px;
    top: 20px;
    background-color: white;
    border: 1px solid $ui-border-color;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    padding: 5px 7px 5px 5px;
    svg {
      width: 12px;
      height: 12px;
      transition: transform 100ms ease;
    }
    transition: background-color 100ms ease, padding-left 100ms ease, padding-right 100ms ease, border-color 100ms ease, color 100ms ease;
    &:hover {
      background-color: $primary-color;
      padding-left: 17px;
      border-color: $primary-color;

      svg {
        color: white;
        left: 20px;
        transform: translateX(-100%);
        // position: absolute;
        // padding-left: 2px;
      }
    }
  }

}
