.workspace-nav {
  max-height: 100vh;
  header {
    .board-actions {
      width: 280px;
      ul {
        margin-top: 15px;
        .search {
          height: 35px;
          position: relative;
          input {
            padding-left: 32px;
            width: 100%;
            padding-top: 10px;
            &::placeholder {
              color: $primary-text-color;
              font-family: figtree-normal, sans-serif
            }
          }
          svg {
            position: absolute;
            // left: 0px;
            bottom: 50%;
            transform: translateY(50%);
            left: 8px;
            // tran
          }
        }
        li {

          display: flex;
          align-items: center;
          gap: 5px;
          padding: 8px;
          button {
            all:unset;
          }
          height: 35px;
          width: 100%;
          border-radius: 5px;
          cursor: pointer;
          &:hover {
            background-color: $primary-background-hover-on-secondary-color;
          }
          a {
            display: flex;
            align-items: center;
            gap: 5px;
          }
        }
      }
    }

    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 0;
    .options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      svg {
        cursor: pointer;
      }
    }
    .workspace-choose {
      position: relative;
      .workspace-combobox {
        .combobox--wrapper {
          min-height: 290px;
        }
        position: absolute;
        top: 45px;
        left: 0;
        background-color: white;
        z-index: 22;
        width: 280px;
        height: 350px;
        box-shadow: $box-shadow-small;
        padding: 10px 10px 0 10px;
        border-radius: 10px;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        input {
          display: flex;
          justify-content: space-between;
          align-items: center;
          &::placeholder {
            font-size: 14px;
          }
        }
        .actions {
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            width: 16px;
            height: 16px;
          }
        }
      }
      cursor: pointer;
      margin-top: 25px;
      border: 1px solid $icon-color;
      border-radius: 5px;
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 8px 10px;
      font-size:15px;
      font-family: figtree-normal;
      justify-content: space-between;
      font-weight: 600;
      .workspace-icon-name {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .workspace-icon {
        text-transform: capitalize;
        color: white;
        border-radius: 6px;
        font-size: 14px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .arrow {
        width: 12px;
        height: 12px;
      }
    }
  }
  .boards-list-container {

    padding-top: 16px;
    .boards-list {
      div {
        width: 100%;
        border-radius: 5px;
        cursor: pointer;
        &.active {
          background-color: $primary-selected-color;
        }
        &:not(.active):hover {
          background-color: $primary-background-hover-on-secondary-color;
        }
        .board-navigator{
        padding: 8px;

          display: flex;
          align-items: center;
          gap: 8px;
          width: 100%;
          height: 100%;
          svg {
            width: 19px;
            height: 19px;
            color: $icon-color;
          }
        }
      }
    }
    .no-boards {
      padding-top: 16px;
      font-size: 14px;
      text-align: center;
    }
  }
  outline: 1px solid $layout-border-color;
  outline-offset: -2px;
  position: relative;
  width: 300px;

  background-color: $grey-background-color;
  padding: 12px 8px 18px 12px;
  transition: width 100ms ease;
  &.close {
    width: 35px;
    padding: 0;
  }
  .collapse-btn {
    position: absolute;
    right: -10px;
    top: 20px;
    background-color: white;
    border: 1px solid $ui-border-color;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    padding: 5px 7px 5px 5px;
    svg {
      width: 12px;
      height: 12px;
      transition: transform 100ms ease;
    }
    transition: background-color 100ms ease, padding-left 100ms ease, padding-right 100ms ease, border-color 100ms ease, color 100ms ease;
    &:hover {
      background-color: $primary-color;
      padding-left: 17px;
      border-color: $primary-color;

      svg {
        color: white;
        left: 20px;
        transform: translateX(-100%);
      }
    }
  }
}

#add-new-workspace, #add-new-board {
  .new-workspace-content, .new-board-content {
 &> div {
  p {
    margin: 10px 0;
  }
  .board-management {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;

    .radio-container {
      width: 144px;
      margin: 5px 0;
    }
  }
 }

    .workspace-icon {
      @include workspace-icon;
      margin: auto;
    }
    .edit-workspace-icon {
      top: 175px;
      left: 25%;
    }
    display: flex;
    flex-direction: column;
    gap: 10px;
    .new-workspace-name-input, .new-board-name-input{
      border: 3px solid black;
      @include monday-input;
      margin-bottom: 15px;
    }
  }
}

.drag-ghost {
  background: white !important;
  border-radius: 10px;
}

.custom-placeholder {
  border: 1px dashed $basic_blue;
  background-color: lightgray;
  opacity: 0.8;
  color: transparent;
}

.custom-dragged-element {
  background-color: #f0f0f0;
  box-shadow: 0 0 10px #ccc;
}