@font-face {
    font-family: poppins-bold;
    src: url('../../assets/fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: figtree-normal;
    src: url('../../assets/fonts/Figtree-Regular.ttf');
}