$highlight_blue: #cce5ff;
$basic_blue: #0073ea;
$dark_blue: #0060b9;
$bazooka: #f65f7c;
$snow_white: #ffffff;
$riverstone_gray: #f6f7fb;
$ui_grey: #dcdfec;
$wolf_gray: #c3c6d4;
$asphalt: #676879;
$mud_black: #323338;
$black: #000000;
$success: #258750;
$success-hover: #007038;
$success-highlight: #bbdbc9;
$error: #d83a52;
$error-hover: #b63546;
$error-highlight: #f4c3cb;
$link_color: #1f76c2;
$surface: #292f4c;
$primary-color: #0073ea;
$primary-hover-color: #0060b9;
$primary-selected-color: #cce5ff;
$primary-selected-hover-color: #aed4fc;
$primary-text-color: #323338;
$text-color-on-primary: #ffffff;
$text-color-on-inverted: #ffffff;
$secondary-text-color: #676879;
$placeholder-color: #676879;
$icon-color: #676879;
$link-color: #1f76c2;
$primary-background-color: #ffffff;
$primary-background-hover-color: #dcdfec;
$secondary-background-color: #ffffff;
$grey-background-color: #f6f7fb;
$application-border-color: #e6e9ef;
$allgrey-background-color: #f6f7fb;
$inverted-color-background: #323338;
$disabled-background-color: #ecedf5;
$positive-color: #258750;
$positive-color-hover: #007038;
$positive-color-selected: #bbdbc9;
$positive-color-selected-hover: #b5cec0;
$negative-color: #d83a52;
$negative-color-hover: #b63546;
$negative-color-selected: #f4c3cb;
$negative-color-selected-hover: #ecb7bf;
$private-color: #f65f7c;
$shareable-color: #a25ddc;
$ui-border-color: #c3c6d4;
$layout-border-color: #d0d4e4;
$box-shadow-xs: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
$box-shadow-small: 0px 4px 8px rgba(0, 0, 0, 0.2);
$box-shadow-medium: 0px 6px 20px rgba(0, 0, 0, 0.2);
$box-shadow-large: 0px 15px 50px rgba(0, 0, 0, 0.3);
$grass_green: #037f4c;
$grass_green-hover: #116846;
$grass_green-selected: #81bfa5;
$done-green: #00c875;
$done-green-hover: #0f9b63;
$done-green-selected: #80e3ba;
$done-green-selected-with-opacity: rgba(128, 227, 186, 0.6);
$bright-green: #9cd326;
$bright-green-hover: #7ca32b;
$bright-green-selected: #cde992;
$saladish: #cab641;
$saladish-hover: #9d8f3e;
$saladish-selected: #e4daa0;
$egg_yolk: #ffcb00;
$egg_yolk-hover: #c29e11;
$egg_yolk-selected: #ffe580;
$egg_yolk-rgb: 255, 213, 51;
$working_orange: #fdab3d;
$working_orange-hover: #c0873c;
$working_orange-selected: #fed59e;
$dark-orange: #ff642e;
$dark-orange-hover: #c25531;
$dark-orange-selected: #ffb196;
$peach: #ffadad;
$peach-hover: #c2888a;
$peach-selected: #ffd6d6;
$sunset: #ff7575;
$sunset-hover: #c26163;
$sunset-selected: #ffbaba;
$sunset-selected-with-opacity: rgba(255, 186, 186, 0.6);
$stuck-red: #e2445c;
$stuck-red-hover: #ad3f51;
$stuck-red-selected: #f0a1ad;
$dark-red: #bb3354;
$dark-red-hover: #92334c;
$dark-red-selected: #dd99a9;
$sofia_pink: #ff158a;
$sofia_pink-hover: #c21e71;
$sofia_pink-selected: #ff8ac4;
$lipstick: #ff5ac4;
$lipstick-hover: #c24e9a;
$lipstick-selected: #fface1;
$bubble: #faa1f1;
$bubble-hover: #be80ba;
$bubble-selected: #fcd0f8;
$purple: #a25ddc;
$purple-hover: #8050ab;
$purple-selected: #d0aeed;
$dark_purple: #784bd1;
$dark_purple-hover: #6344a3;
$dark_purple-selected: #bba5e8;
$berry: #7e3b8a;
$berry-hover: #673971;
$berry-selected: #be9dc4;
$dark_indigo: #401694;
$dark_indigo-hover: #3c1f78;
$dark_indigo-selected: #a08bc9;
$indigo: #5559df;
$indigo-hover: #4b4ead;
$indigo-selected: #aaacef;
$navy: #225091;
$navy-hover: #274776;
$navy-selected: #90a7c8;
$bright-blue: #579bfc;
$bright-blue-hover: #4c7cc1;
$bright-blue-selected: #abcdfd;
$dark-blue: #0086c0;
$dark-blue-hover: #0f6d97;
$dark-blue-selected: #80c2df;
$aquamarine: #4eccc6;
$aquamarine-hover: #469e9b;
$aquamarine-selected: #a6e5e2;
$chili-blue: #66ccff;
$chili-blue-hover: #569ec3;
$chili-blue-selected: #b2e5ff;
$river: #68a1bd;
$river-hover: #588095;
$river-selected: #b3d0de;
$winter: #9aadbd;
$winter-hover: #7b8895;
$winter-selected: #ccd6de;
$explosive: #c4c4c4;
$explosive-hover: #98999a;
$explosive-selected: #e1e1e1;
$american_gray: #808080;
$american_gray-hover: #69696a;
$american_gray-selected: #bfbfbf;
$blackish: #333333;
$blackish-hover: #222222;
$blackish-selected: #999999;
$brown: #7f5347;
$brown-hover: #684943;
$brown-selected: #bfa9a3;
$orchid: #d974b0;
$orchid-hover: #ae5d8d;
$orchid-selected: #ecbad7;
$tan: #ad967a;
$tan-hover: #8a7862;
$tan-selected: #d6cabc;
$sky: #a1e3f6;
$sky-hover: #81b6c5;
$sky-selected: #d0f1fa;
$coffee: #bd816e;
$coffee-hover: #976758;
$coffee-selected: #dec0b7;
$royal: #2b76e5;
$royal-hover: #225eb7;
$royal-selected: #95bbf2;
$teal: #175a63;
$teal-hover: #12484f;
$teal-selected: #8bacb1;
$lavender: #bda8f9;
$lavender-hover: #9786c7;
$lavender-selected: #ded4fc;
$steel: #a9bee8;
$steel-hover: #8798ba;
$steel-selected: #d4dff4;
$lilac: #9d99b9;
$lilac-hover: #7e7a94;
$lilac-selected: #ceccdc;
$pecan: #563e3e;
$pecan-hover: #453232;
$pecan-selected: #ab9f9f;
$dark_marble: #f1f1f1;
$marble: #f7f7f7;
$gainsboro: #e1e1e1;
$extra_light_gray: #edeef0;
$glitter: #d9f0ff;
$ultra_light_gray: #ebebeb;
$very_light_gray: #a1a1a1;
$jaco_gray: #9699a6;
$storm_gray: #6b6d77;
$trolley-grey: #808080;
$basic_light_blue: #c7e6fa;
$light_blue: #61caf7;
$turquoise: #66ccff;
$aqua: #00d1d1;
$live_blue: #009aff;
$jeans: #597bfc;
$burned_eggplant: #181d37;
$light-pink: #ff5ac4;
$dark-pink: #ff158a;
$dark_red: #bb3354;
$yellow: #ffcb00;
$mustered: #cab641;
$orange: #fdab3d;
$lime-green: #9cd326;
$jade: #03c875;
$green-haze: #00a359;
$grass-green: #037f4c;
$amethyst: #a25ddc;
$dark-purple: #784bd1;
$blue_links: #0086c0;
$blue-links: #0086c0;
$private: #f65f7c;
$public: #009aff;
$board_views_grey: #6e6f8f;
$board_views_grey_hover: #b2b3d0;
$board_views_blue: #1c1f3b;
$board_views_blue_secondary: #363a52;
$border_light_gray: #f5f6f8;
$brand-blue: #00a9ff;
$brand-charcoal: #2b2c5c;
$brand-gold: #ffcc00;
$brand-green: #11dd80;
$brand-iris: #595ad4;
$brand-light-blue: #00cff4;
$brand-malachite: #00cd6f;
$brand-purple: #a358d0;
$brand-red: #f74875;
$deadline_upcoming_indication: #5d6387;
$default_group_color: #579bfc;
$form_btn_hover: #0083d9;
$form_purple: #575c96;
$highlight: #dff0ff;
$green_shadow: #00c875;
$green-shadow: #00c875;
$red_shadow: #e2445c;
$red-shadow: #e2445c;
$pulse_bg: #f0f0f0;
$pulse_text_color: #333333;
$placholder_gray: #d8d8d8;
$placeholder_light_gray: #efefef;
$excel-green: #207245;
$media-blue: #2ea2e9;
$pdf-red: #bb0706;
$ppt-orange: #d64e2a;
$word-blue: #2a5699;
$zip-orange: #e4901c;
$like_red: #fb275d;
$scrollbar_gray: #b2b2b2;
$timeline_grid_blue: #454662;
$timeline_blue: #1c1f3b;
$highlight_blue-rgb: 204, 229, 255;
$snow_white-with-opacity: rgba(255, 255, 255, 0.4);
$wolf_gray-with-opacity: rgba(195, 198, 212, 0.1);
$asphalt-with-opacity: rgba(103, 104, 121, 0.1);
$primary-on-secondary-color: #0073ea;
$primary-hover-on-secondary-color: #0060b9;
$primary-selected-color-rgb: 204, 229, 255;
$primary-selected-on-secondary-color: #cce5ff;
$primary-text-on-secondary-color: #323338;
$text-color-on-primary-with-opacity: rgba(255, 255, 255, 0.4);
$secondary-text-on-secondary-color: #676879;
$placeholder-color-with-opacity: rgba(103, 104, 121, 0.1);
$placeholder-on-secondary-color: #676879;
$icon-on-secondary-color: #676879;
$link-on-secondary-color: #1f76c2;
$label-background-color: #cce5ff;
$label-background-on-secondary-color: #cce5ff;
$primary-background-color-rgb: 255, 255, 255;
$primary-background-hover-on-secondary-color: #dcdfec;
$modal-background-color: #ffffff;
$secondary-background-color-rgb: 255, 255, 255;
$disabled-background-on-secondary-color: #ecedf5;
$ui-border-on-secondary-color: #c3c6d4;
$layout-border-on-secondary-color: #d0d4e4;
$dark-background-color: #f6f7fb;
$dark-background-on-secondary-color: #f6f7fb;
$dialog-background-color: #ffffff;
$box-shadow-mediun: 0px 6px 20px rgba(0, 0, 0, 0.2);
